body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* ##### section 1 ###### */
.section1,
.section2,
.section3 {
    padding: 2rem 4rem;
    display: flex;
}

/* .section1 {
    gap: 2rem;
} */

/* .firstLeftDiv,
.firstRightDiv {
    max-height: 15rem;
    max-width: 45rem;
} */

.textDiv1 {
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: none;
    position: relative;
}

/* The pointy triangle */
.textDiv1::after {
    content: "";
    position: absolute;
    /* push triangle outside */
    bottom: -15px;
    /* horizontal position of point */
    left: 40px;
    border-width: 17px 12px 0;
    border-style: solid;
    border-color: #212529 transparent transparent;
}

.firstDivName {
    display: flex;
    margin-top: 1rem;
    padding: 0 1rem 1rem;
}

.firstDivNames,
.secondDivNames {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1rem;
}


.rounded-circle {
    width: 5rem;
}


.firstRightDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1.5rem;
    border: 2px solid #212529;
    padding: 1.5rem;
}

.secondDivName {
    display: flex;
    margin-top: 0.5rem;
}

/* ##### section 2 ###### */

.section2 {
    display: flex;
    justify-content: center;
}

.secondLeftDiv {
    max-height: 17rem;
    display: flex;
    justify-content: flex-end;
}

.secondRightDiv {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 1.5rem;
    /* max-height: 17rem;
    max-width: 45rem; */
}


.card-img {
    border-radius: 1.5rem;
    width: 20rem;
}

.starIconsDiv {
    display: flex;
    margin-bottom: 1rem;
}

.starIcon {
    width: 2rem;
    height: auto;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


/* ##### section 3 ###### */
.section3 {
    display: flex;
    justify-content: center;
}

.lastCard {
    border-radius: 1.5rem;
    border: 2px solid #212529;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#carouselExample {
    width: 100%;
    max-width: 400px;
    /* keeps it from getting too big */
}


.carousel-inner {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    max-width: 80px;
    height: auto;
}



/* ############### Responsive Design ################### */
/* screens below  350px*/
@media (max-width: 350px) {

    .firstDivName,
    .secondDivName {
        display: flex;
        flex-direction: column;
        min-width: fit-content;
    }

    .textDiv1,
    .firstRightDiv,
    .secondRightDiv {
        min-width: min-content;
    }

    .secondRightDiv {
        min-height: min-content;
    }

    #carouselExample {
        min-width: 100%;
    }
}

/* screens below  768px */
@media (max-width: 768px) {
    .secondLeftDiv {
        padding-bottom: 1rem;
    }

    #carouselExample {
        max-width: 300px;
    }
}