body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    background-color: #0C161C;
}

main {
    margin-top: 10rem !important;
}

/* form styling */

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 4rem;
    max-width: max-content;
    background-color: #123C54;
    border-radius: 1rem;
}

input,
.passwordDiv {
    max-width: 25rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(242, 245, 247, 0.8);
}

input {
    padding: 0.5rem 1rem;
}

input::placeholder {
    font-weight: 300;
    font-size: 1.1rem;
}

input:focus {
    box-shadow: 0 4px 6px rgba(242, 245, 247, 0.8);
    outline: none;
    border: 3px solid #123C54;
}

button {
    max-width: 24rem;
    padding: 0.8rem 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.1rem;
}

img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

label {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.formDiv {
    display: flex;
    justify-content: flex-end;
}

.passwordDiv {
    display: flex;
    align-items: center;
    gap: 7rem;
    padding-right: 1rem;
}

.passwordDiv input {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.passwordDiv input:focus {
    border: none;
    outline: none;
}


/* profile styling */
.profileDiv {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #262626;
    padding: 2rem 4rem;
    max-width: max-content;
    border-radius: 1rem;
}

.spinnerDiv {
    margin-left: 3.5rem;
}

.spinner {
    width: 6rem;
    height: 6rem;
    border-top: 3px solid #FE6C48;
    border-left: 3px solid #FE6C48;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    padding: 1rem;
    border-style: ridge;
    color: white;
}

.profileChecklist {
    background-color: gray;
    color: white;
    padding: 1.5rem 2rem;
    max-width: max-content;
    border-radius: 1.5rem;
    background-color: #373737;
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-color: #FE6C48;
}