body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

span,
p {
    font-weight: 400;
    font-size: 1.1rem;
}

p {
    color: gray;
}

.headerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.changelogDiv {
    margin: 2rem auto;
}

.changelog {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.changelog::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ccc;
}

.changelog li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.changelog li::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background: red;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 1;
}

.left {
    width: 45%;
    text-align: right;
    padding-right: 1rem;
    color: gray;
}

.right {
    width: 45%;
    text-align: left;
    padding-left: 1rem;
}

.endDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button {
    padding: 1rem 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.8rem;
    background-color: black;
    color: white;
    border: none;
}