body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: rgba(10, 10, 10, 0.85);
}

span,
p {
    font-weight: 400;
    font-size: 1.1rem;
}

p {
    color: white;
}

.mainBodyDiv {
    background-color: #0a0a0a;
    padding: 2rem 3rem 2rem 0;
    margin: 2rem auto;
    max-width: 700px;
    border-radius: 5rem;
}

.headerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.changelog {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.changelog::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #3C8657;
}

.changelog li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.changelog li::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background: #3C8657;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 1;
}

.left {
    width: 45%;
    text-align: right;
    padding-right: 1rem;
    color: #1B5889;
}

.right {
    width: 45%;
    text-align: left;
    padding-left: 1rem;
    color: #1B5889;
}

.endDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button {
    padding: 1rem 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.8rem;
    background-color: transparent;
    color: #3C8657;
    border: 2px solid #3C8657;
    box-shadow: 0 4px 6px rgba(60, 134, 87, 0.8);
}