body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

header {
    padding: 15rem 5rem 0 5rem;
}

ul {
    display: flex;
    gap: 3rem;
    background-color: #2E2F3A;
    padding: 2rem 5rem;
    border-radius: 3rem;
    list-style-type: none;
}


div {
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #8C8D96;
}

div:hover {
    border-color: #E54630;
    background-color: #8C8D96;
    transition: 3s ease-in-out;
}

a {
    color: #d7d7e3;
    text-decoration: none;
}

a:hover {
    color: #E54630;
    transition: color 1s ease-in;
}